

.formStyles{
    border : black solid 0.25rem;
    margin : 1rem;
    padding : 1rem;


}

.authStyles{
    border : black solid 0.25rem;
    margin : 1rem;
    padding : 1rem;
    width:40%;

}

.imageCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }


.inputStyles{
    margin : 1rem;


}
.header{
    text-align : center;
}



.section1{
    float : left;
}

.section2{
    float : right;
}

.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8AD;
  }
  .loader{
    left: 50%;
    top: 50%;
    z-index: 1000;
    position: absolute;
  }